{% extends "base.html" %}


{% block content %}

{% include 'components/flash_message.html' %}


<form class="text-center m-auto mt-5 w-50" method="POST" action="/login">

    <img class="mb-4 w-25 h-25" src="{{ url_for('auth.static', filename='images/icon.jpg') }}" alt="">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required
            autofocus>
        <label for="inputEmail">Email address</label>
    </div>
    <br>
    <div class="form-floating">
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3 mt-3">
        <label>
            <input type="checkbox" value="remember-me" name="remember"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

{% endblock %}